<article>

  <% content_for :admin_header do %>
    <a href="/">
      <%= submit_tag "Home", class:"admin-navigation-button" %>
    </a>
    <%= form_with(url: user_role_change_path, method: "post") do %>
      <%= submit_tag "Walk-in Customer", class:"admin-navigation-button" %>
    <%end%>
    <a href="/">
      <%= submit_tag "Stats", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "Billers", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "Users", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "All Invoices", class:"admin-navigation-button" %>
    </a>
    <a href="/admins/menus">
      <%= submit_tag "Manage Menus", class:"admin-navigation-button" %>
    </a>
    <a href="/menus">
      <%= submit_tag "Order for You", class:"admin-navigation-button" %>
    </a>
  <% end %>

  <h3 class="updatemenu-title">
    <%= Menu.find(params[:id]).name %>
    <%= image_submit_tag "edit.png", class: "menuname-edit-icon" %>
  </h3>

  <%= form_with(url: menu_items_path, method: "post", class: "addmenuitem-inputbar") do %>
    <%= text_field_tag :name, nil, placeholder: "Name of the Item", class: "addmenuitem-name" %>
    <%= hidden_field_tag :menu_id, params[:id] %>
    <%= text_field_tag :description, nil, placeholder: "Describe about the Item", class: "addmenuitem-description" %>
    <%= number_field_tag :price, nil, min: 0, step: 0.01, placeholder: "Item's Price", class: "addmenuitem-price" %>
    <%= submit_tag "Create Item", data: {disable_with: "Creating..."}, class: "addmenuitem-button" %>
  <%end%>

  <h4 class="flasherror-addmenuitem"><%= flash[:error] %></h4>

  <% Menu.find(params[:id]).menu_items.order(:active_status).reverse.each{ |item| %>
    <div class="menuitem-section">
      <%= form_with(url: menu_item_path(id: item.id), method: "patch") do %>
        <%= hidden_field_tag :menu_id, params[:id] %>
        <%= image_submit_tag "menu-active.png", title: "Click here to make this Item Inactive" if item.active_status%>
        <%= image_submit_tag "menu-inactive.png", title: "Click here to make this Item Active" if !item.active_status%>
      <%end%>
      <h4><%= item.name %></h4>
      <p><%= item.description %></p>
      <p class="manage-menuitem-price">Rs.<%= item.price %></p>
      <%= link_to("/") do %>
        <%= image_submit_tag "edit.png", title: "Tap to Update Menuitems", class: "menuitem-icon" %>
      <%end%>
      <%= form_with(url: "/menu_items/#{item.id}", method: "delete") do %>
        <%= hidden_field_tag :menu_id, params[:id] %>
        <%= image_submit_tag "trash-can.png", title: "Tap to Delete Menu", data: {confirm: "Delete this Menu?"}, class: "menuitem-icon" %>
      <%end%>
    </div>
  <%}%>

</article>
