<article>

  <% content_for :signed_in_header do %>
    <a href="/menus" >
      <%= submit_tag "Menus", class: "header-button" %>
    </a>
    <a href="/orders/pending" >
      <%= submit_tag "Pending Orders", class: "header-button" %>
    </a>
    <a href="/orders" >
      <%= submit_tag "All Orders", class: "header-button" %>
    </a>
  <%end%>

  <% content_for :admin_header do %>
    <p class="admin-walkin-description">
      <%= "Using as Walk-in Customer..." %>
    </p>
    <a href="/">
      <%= submit_tag "Back to Home", class:"admin-navigation-button" %>
    </a>
  <%end%>

  <h1 class="menuitems-title"><%=@menu.name%> Menu</h1>
  <p class="flash-error-itemquantity"><%= flash[:error] %></p>

  <section class="menuitems-grid-container">

    <div class="menuitem-cart">

      <h2 class="cart-title"> Your Food Cart</h2>
      <% if !Order.find(@order_id).order_items.empty? %>
        <p class="cart-table-heading">S.No</p>
        <p class="cart-table-heading">Item Name</p>
        <p class="cart-table-heading">Item price</p>
        <p class="cart-table-heading">Quantity</p>
        <p class="cart-table-heading">Price</p>
        <p class="cart-table-heading">  </p>
      <%else%>
        <p class="cart-description">The Items you add to cart will be displayed here</p>
      <%end%>

      <%serial_no=0%>
      <%total_quantity=0%>
      <%total_price=0%>

      <%Order.find(@order_id).order_items.order(:id).each { |order_item|%>
        <p class="cart-orderitem"><%=serial_no+=1%></p>
        <p class="cart-orderitem-name"><%=order_item.menu_item_name%></p>
        <p class="cart-orderitem">Rs.<%=order_item.menu_item_price%></p>
        <p class="cart-orderitem"><%=order_item.quantity%></p>
        <p class="cart-orderitem">Rs.<%=order_item.price%></p>
        <%total_quantity += order_item.quantity%>
        <%total_price += order_item.price%>

        <%= form_with(url: remove_cart_item_path, method: "delete", class: "cart-orderitem-detail") do %>
          <%=hidden_field_tag :order_item_id, order_item.id%>
          <%= hidden_field_tag :menu_id, @menu.id %>
          <%= image_submit_tag(
                    "minus-circle.png",
                    alt:"-",
                    height: "16px",
                    width: "16px",
                    class:"cart-removeicon") %>
        <%end%>

      <%}%>

      <%if total_price>0 and total_quantity>0%>
        <p class="cart-total-label">Total:</p>
        <p class="cart-total-value"><%=total_quantity%></p>
        <p class="cart-total-value">Rs.<%=total_price%></p>
        <p></p>
        <%= form_with(url: orders_path, method: "post") do %>
          <%= hidden_field_tag :total_amount, total_price %>
          <%= submit_tag :ORDER, data: {confirm: "Confirm Order?", disable_with: "Placing Order.."}, class: "cart-order-button" %>
        <%end%>
      <%end%>

    </div>

    <% @menu.menu_items.each { |menu_item| %>

      <%= form_with(url: cart_path, method: "post", class: "menuitems-grid-item") do %>
        <%= hidden_field_tag :menu_item_id, menu_item.id %>
        <p class="menuitem-name"><%= menu_item.name %></p>
        <%= hidden_field_tag :menu_item_name, menu_item.name %>
        <p class="menuitem-description"><%= menu_item.description %></p>
        <%= hidden_field_tag :menu_id, @menu.id %>

        <span class="menuitem-price">
          <p>Rs.<%= menu_item.price %></p>
          <p>Quantity:  <%= number_field_tag "quantity", 1, in: 1..7, class: "menuitem-quantity" %></p>
        </span>

        <%= hidden_field_tag :menu_item_price, menu_item.price %>

        <p class="menuitem-button">
          <%= submit_tag "Add to Cart", data: {disable_with: "Adding..."}, class:"menuitem-addbutton" %>
        </p>

      <%end%>

    <% } %>

  </section>

</article>
