<article>

  <section>
    <h1 class="menuitems-title"><%=@menu.name%> Menu</h1>
  </section>

  <section class="menuitems-grid-container">

    <div class="menuitem-cart">
      <h2 class="menuitem-name">Cart</h2>
    </div>
    <% @menu.menu_items.each { |menu_item| %>
      <%= form_with(url: cart_path, method: "post", class: "menuitems-grid-item") do %>
        <%= hidden_field_tag :menu_item_id, menu_item.id %>
        <p class="menuitem-name"><%= menu_item.name %></p>
        <%= hidden_field_tag :menu_item_name, menu_item.name %>
        <p class="menuitem-description"><%= menu_item.description %></p>
        <span class="menuitem-price">
          <p>Rs.<%= menu_item.price %></p>
          <p>Quantity:  <%= number_field_tag "quantity", 1, in: 1..7, class: "menuitem-quantity" %></p>
        </span>
        <%= hidden_field_tag :menu_item_price, menu_item.price %>
        <p class="menuitem-button">
          <%= submit_tag "Add to Cart", data: {disable_with: "Adding..."}, class:"menuitem-addbutton" %>
        </p>
      <%end%>
    <% } %>

  </section>

</article>
