<article>

  <% content_for :admin_header do %>
    <a href="/">
      <%= submit_tag "Home", class:"admin-navigation-button" %>
    </a>
    <%= form_with(url: user_role_change_path, method: "post") do %>
      <%= submit_tag "Walk-in Customer", class:"admin-navigation-button" %>
    <%end%>
    <a href="/">
      <%= submit_tag "Stats", class:"admin-navigation-button" %>
    </a>
    <a href="/admins/managebillers">
      <%= submit_tag "Manage Billers", class:"admin-navigation-button" %>
    </a>
    <a href="/users">
      <%= submit_tag "Users", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "All Invoices", class:"admin-navigation-button" %>
    </a>
    <a href="/menus">
      <%= submit_tag "Order for You", class:"admin-navigation-button" %>
    </a>
  <% end %>

  <h2 class="manage-menus-title">Manage Menus</h2>

  <%= form_with(url: menus_path, method: "post", class: "addmenu") do %>
    <%= text_field_tag :menu_name, nil, placeholder: "Type a Menu name you want to add", class: "addmenu-inputbar" %>
    <%= submit_tag "Create Menu", data: {disable_with: "Creating..."}, class: "addmenu-button" %>
  <%end%>

  <h4 class="managemenus-flash-error"><%= flash[:error] %></h4>
  <h4 class="managemenus-flash-error"><%= flash[:invalid] %></h4>

  <% Menu.order(:id).each { |menu| %>
    <div  class="menu-details">
      <%= form_with(url: "/menus/#{menu.id}", method: "patch") do %>
        <%= image_submit_tag "menu-active.png", title: "Click here to make this Menu Inactive" if menu.active_status%>
        <%= image_submit_tag "menu-inactive.png", title: "Click here to make this Menu Active" if !menu.active_status%>
      <%end%>
      <h3 class="menu-name"><%= menu.name %></h3>
      <%= submit_tag :Active, disabled: true, class: "menu-true-status" if menu.active_status%>
      <%= submit_tag :InActive, disabled: true, class: "menu-false-status" if !menu.active_status%>
      <%= link_to("/menus/#{menu.id}/edit") do %>
        <%= image_submit_tag "edit.png", title: "Tap to Update Menuitems", class: "menu-icon" %>
      <%end%>
      <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
        <%= image_submit_tag "trash-can.png", title: "Tap to Delete Menu", data: {confirm: "Delete this Menu?"}, class: "menu-icon" %>
      <%end%>
    </div>
  <%}%>

</article>
