<% count = 0 %>
<h2 class="list-users-title">
  <%= title %>
  <a href="/admins/managebillers">
    <%= submit_tag "Manage", class: "list-users-manage-biller-button" if role=="clerk" && !in_manage_billers_page %>
  </a>
</h2>
<% if name %>
  <% User.order(:id).where("name = ?", name).each { |user| %>
    <div class="list-users-details">
      <p><%= user.name %> (<%=user.role.capitalize%>)</p>
      <p><%= user.address %></p>
      <p><%= user.email %></p>
      <%= form_with(url: make_as_biller_path(redirect_path: redirect_path), method: "patch", class: "search-user-data-icon-merge") do %>
          <%= user.phone_no %>
          <%= hidden_field_tag :user_id, user.id %>
          <%= image_submit_tag "swap.png", height: "24px", width: "35px", title: "Change role to Biller" if user.role=="customer" %>
      <%end%>
    </div>
  <%}%>
<%else%>
  <% User.order(:id).where("role = ?", role).each { |user| %>
    <div class="list-users-details">
      <p><%= count += 1 %>. <%= user.name %></p>
      <p><%= user.address %></p>
      <p><%= user.email %></p>
      <p><%= user.phone_no %></p>
    </div>
  <%}%>
<%end%>
