<article>

  <section>
    <%= render partial: "admins/admins-navigator",
              locals: {
                current_page_name: "Users"
              } %>
  </section>

  <section>
    <%= render partial: "users/search_user",
              locals: {
                submit_path: users_path,
                user_id_to_edit: @user_id_to_edit,
                flash_notice: flash[:notice],
                user: @user
              }%>
      <h3 class="flash-nouser"><%= flash[:alert] %></h3>
      <hr/>
    </section>

  <section class="list-users-section">

    <%= render partial: "user_details",
              locals: {
                title: "Owner",
                role: "admin",
                name: nil,
                redirect_path: users_path,
                user_id_to_edit: @user_id_to_edit,
                flash_notice: flash[:notice],
                in_manage_billers_page: false
              } %>
    <%= render partial: "user_details",
              locals: {
                title: "Biller",
                role: "clerk",
                name: nil,
                redirect_path: users_path,
                user_id_to_edit: @user_id_to_edit,
                flash_notice: flash[:notice],
                in_manage_billers_page: false
              } %>
    <%= render partial: "user_details",
              locals: {
                title: "Customer",
                role: "customer",
                name: nil,
                redirect_path: users_path,
                user_id_to_edit: nil,
                flash_notice: flash[:notice],
                in_manage_billers_page: false
              } %>

  </section>

</article>
