<article>

  <% content_for :admin_header do %>
    <a href="/">
      <%= submit_tag "Home", class:"admin-navigation-button" %>
    </a>
    <%= form_with(url: user_role_change_path, method: "post") do %>
      <%= submit_tag "Walk-in Customer", class:"admin-navigation-button" %>
    <%end%>
    <a href="/">
      <%= submit_tag "Stats", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "Manage Billers", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "All Invoices", class:"admin-navigation-button" %>
    </a>
    <a href="/admins/menus">
      <%= submit_tag "Manage Menus", class:"admin-navigation-button" %>
    </a>
    <a href="/menus">
      <%= submit_tag "Order for You", class:"admin-navigation-button" %>
    </a>
  <% end %>

  <section class="list-users-section">

    <%= render partial: "user_details",
              locals: {
                title: "Owner",
                role: "admin"
              } %>
    <%= render partial: "user_details",
              locals: {
                title: "Billers",
                role: "clerk"
              } %>
    <%= render partial: "user_details",
              locals: {
                title: "Customers",
                role: "customer"
              } %>

  </section>

</article>
