<article>

  <% content_for :admin_header do %>
    <a href="/">
      <%= submit_tag "Home", class:"admin-navigation-button" %>
    </a>
    <%= form_with(url: user_role_change_path, method: "post") do %>
      <%= submit_tag "Walk-in Customer", class:"admin-navigation-button" %>
    <%end%>
    <a href="/">
      <%= submit_tag "Stats", class:"admin-navigation-button" %>
    </a>
    <a href="/users">
      <%= submit_tag "Users", class:"admin-navigation-button" %>
    </a>
    <a href="/">
      <%= submit_tag "All Invoices", class:"admin-navigation-button" %>
    </a>
    <a href="/admins/menus">
      <%= submit_tag "Manage Menus", class:"admin-navigation-button" %>
    </a>
    <a href="/menus">
      <%= submit_tag "Order for You", class:"admin-navigation-button" %>
    </a>
  <% end %>

  <%= render partial: "users/search_user",
             locals: {
               submit_path: "/admins/managebillers"
             } %>

  <%= render partial: "users/user_details",
             locals: {
               title: "Billers",
               role: "clerk",
               in_manage_billers_page: true
             } %>

</article>
