<!DOCTYPE html>
<html>
  <head>
    <title>Cool Cafeteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <h1 class="header-title"> Cool Cafeteria </h1>
      <%= yield :header_options %>
      <%if @current_user%>
        <%= form_with(url: signout_path, method: "delete", class: "additional-header-content") do %>
          <p class="header-username">
            <%= @current_user.name if @current_user.role=="customer"%>
            <%= "Biller: #{@current_user.name}" if @current_user.role=="clerk"%>
            <%= "Owner: #{@current_user.name}" if @current_user.role=="admin"%>
          </p>
          <%= yield :signed_in_header %>
          <%= submit_tag "Sign Out", data: {disable_with: "Pleasure Serving You...!"}, class: "header-signout-button" %>
        <%end%>
      <%end%>
    </header>

    <main class="main-content">

      <%if @current_user%>
        <% if @current_user.role== "admin" || @current_user.role=="clerk" %>
          <div class="admin-header-content">
            <%= yield :admin_header %>
          </div>
        <% end %>
      <%end%>

      <% if @original_user%>
        <%= form_with(url: original_role_path, method: "post", class: "admin-header-content") do %>
          <p class="admin-walkin-description">
            <%= "Biller: #{@original_user.name} is now Walk-in Customer..." if @original_user.role=="clerk" %>
            <%= "Owner: #{@original_user.name} is now Walk-in Customer..." if @original_user.role=="admin" %>
          </p>
          <%= submit_tag "Back to Home", data: {disable_with: "Homecoming..."}, class:"admin-navigation-button" %>
        <%end%>
      <%end%>

      <%= yield %>

    </main>

    <footer class="footer">

      <section class="footer-rights-section">
        <h2 class="rights-copyright"> (c) Grape Inc.</h2>
        <p class="rights-allrights">All Rights Reserved</p>
      </section>

      <address class="footer-contact-section">

        <section>
          <p class="contact-content">For any Complaints and Feedback, </p>
          <p class="contact-info">e-mail: coolcafeteria@cafe.in</p>
        </section>

        <section>
          <p class="contact-content">For Immediate Assistance,</p>
          <p class="contact-info">Call: 9876543210, 9012345678</p>
        </section>

      </address>

    </footer>

  </body>
</html>
