<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <h1 class="header-title"> Cool Cafeteria </h1>
      <%= yield :header_options %>
    </header>

    <%= yield %>

    <footer class="footer">

      <section class="footer-rights-section">
        <h2 class="rights-copyright"> (c) Grape Inc.</h2>
        <p class="rights-allrights">All Rights Reserved</p>
      </section>

      <address class="footer-contact-section">

        <section>
          <p class="contact-content">For any Complaints and Feedback, </p>
          <p class="contact-info">e-mail: coolcafeteria@cafe.in</p>
        </section>

        <section>
          <p class="contact-content">For Immediate Assistance,</p>
          <p class="contact-info">Call: 9876543210, 9012345678</p>
        </section>

      </address>

    </footer>

  </body>
</html>
